@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  padding: 3rem;
  background: #eee;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
  background-color: #fff;
  border-radius: 0.8em;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  background: #fff;
  border: 1px solid grey;
}

.fetch-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-favorites {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.favorite-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eee;
  width: 566px;
  margin: 1.5em 1em;
}

.player-info {
  flex: 1;
  padding: 0 1em;
  justify-content: center;
  align-items: center;
}

.player-info {
  text-align: center;
}

.player-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
}

.stat {
  display: flex;
  flex-direction: column;
}

.inner-container {
  padding: 1em;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  border-bottom: 1px solid black;
}

td {
  padding: 0.5em;
}

.col {
  vertical-align: middle;
}

.player-name {
  text-align: left;
}

.player-stat {
  text-align: center;
}

.player-row:nth-child(odd) {
  background-color: #f2f2f2;
}

@media all and (max-width: 1370px) {
  .favorite-player {
    flex-grow: 1;
  }
}
